@using PMISBLayer.Entities
@model List<Project>

<a class="btn btn-primary" asp-controller="Project" asp-action="NewProject">Create New Project</a>
<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Project Type</th>
            <th>Project Amount</th>
            <th>Project Contract</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var project in Model)
            {
                <tr>
                    <td>@project.Name</td>
                    <td>@project.ProjectType.Name</td>
                    <td>@project.ContractAmount</td>
                    <td><a class="btn btn-success" target="_blank" asp-controller="Project" asp-action="ViewContract" asp-route-projectId="@project.Id">@project.ContractFileName</a></td>
                    <td><a class="btn btn-secondary" asp-controller="Project" asp-action="EditProject" asp-route-projectId="@project.Id" >Edit</a></td>
                    <td><a class="btn btn-danger" asp-controller="Project" asp-action="DeleteProject" asp-route-projectId="@project.Id">Delete</a></td>
                    <td><a class="btn btn-info" asp-controller="Deliverable" asp-action="Index" asp-route-projectId="@project.Id">Deliverables</a></td>
                </tr>
            }
        }
    </tbody>
</table>