@using PMISBLayer.Entities
@model List<ProjectPhase>
    <script>
    $(document).ready(function () {
        $('#projectsPhases').DataTable();
    });
    </script>

<a class="btn btn-primary" asp-controller="ProjectsPhases" asp-action="NewProjectPhase">Create Project Phase</a>
<br />
<br />
<table id="projectsPhases" class="table table-striped table-bordered" style="width:100%;">
    <thead>
        <tr>
            <th>project Name</th>
            <th>phase Name</th>
            <th>start Date</th>
            <th>End Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var projectPhase in Model)
            {
                <tr>
                    <td>@projectPhase.Project.Name</td>
                    <td>@projectPhase.Phase.Name</td>
                    <td>@projectPhase.StartDate</td>
                    <td>@projectPhase.EndDate</td>
                    <td><a class="btn btn-info" asp-controller="ProjectsPhases" asp-action="EditProjectPhase" asp-route-projectPhaseId="@projectPhase.Id" >Edit</a></td>
                    <td><a class="btn btn-danger" asp-controller="ProjectsPhases" asp-action="DeleteProjectPhase" asp-route-projectPhaseId="@projectPhase.Id">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>
