@using PMISBLayer.Entities
@model PMISBLayer.Entities.Deliverable

<script>
    $(function () {
        $("#StartDate").datepicker();
        $("#EndDate").datepicker();
    });
</script>

<form asp-controller="Deliverable" asp-action="UpdateDeliverable" method="post">
    <input name="projectId" value="@Model.ProjectPhase.ProjectId" style="display:none;" />
    <input asp-for="Id" value="@Model.Id" style="display:none;" />
    <div class="form-group">
        <label>Enter deliverable Name:</label>
        <input asp-for="Name" value="@Model.Name" type="text" class="form-control">
        <span asp-validation-for="Name" style="color: red;"></span>
    </div>
    <div class="form-group">
        <label>Enter deliverable Description:</label>
        <input asp-for="Description" type="text" value="@Model.Description" class="form-control">
        <span asp-validation-for="Description" style="color: red;"></span>
    </div>
    <div class="form-group">
        <label>Enter Start Date:</label>
        <input id="StartDate" name="StartDate" value="@Model.StartDate" class="form-control">
    </div>
    <div class="form-group">
        <label>Enter End Date:</label>
        <input id="EndDate" name="EndDate" value="@Model.EndDate" class="form-control">
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-success">Update</button>
</form>